<html>
    <head>
        <title>SuperYilin's blog</title>
    </head>
    <body>
        <div>
            <strong> Pig and Cow best friend forever </strong>
            <em> hahaha </em>
        </div>

        <div>
            <p>published: 12.12.2015, 13:14</p>
            <h2><a href="">My first post</a></h2>
            <p>💍💍</p>
        </div>

        <div>
            <p>published: 12.12.2015, 13:24</p>
            <h2><a href="">My second post</a></h2>
            <p>👀😄</p>
        </div>
    </body>
</html>
